
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage_main.cshtml";
}


 <br /><br /><br />

<section id="center" class="center_o bg_gray pt-2 pb-2">
    <div class="container-xl">
        <div class="row center_o1">
            <div class="col-md-5">
                <div class="center_o1l">
                    <h2 class="mb-0">About Us</h2>
                </div>
            </div>
            <div class="col-md-7">
                <div class="center_o1r text-end">
                    <h6 class="mb-0"><a href="#">Home</a> <span class="me-2 ms-2"><i class="fa fa-caret-right"></i></span> About Us</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_pg" class="p_4">
    <div class="container-xl">
        <div class="row about_pg1">
            <div class="col-md-6">
                <div class="about_pg1i row">
                    <div class="col-md-3 p-0">
                        <div class="about_pg1il">
                            <span class="bg_pink text-white rounded-circle text-center d-inline-block fs-1"><i class="fa fa-skyatlas"></i></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about_pg1ir">
                            <h4>OUR ART</h4>
                            <p class="mb-0"> Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                        </div>
                    </div>
                </div>
                <div class="about_pg1i row mt-5">
                    <div class="col-md-3 p-0">
                        <div class="about_pg1il">
                            <span class="bg_pink text-white rounded-circle text-center d-inline-block fs-1"><i class="fa fa-camera"></i></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about_pg1ir">
                            <h4>PHOTOGRAPHY</h4>
                            <p class="mb-0">Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_pg1i row">
                    <div class="col-md-3 p-0">
                        <div class="about_pg1il">
                            <span class="bg_pink text-white rounded-circle text-center d-inline-block fs-1"><i class="fa fa-user-plus"></i></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about_pg1ir">
                            <h4>COMMUNICATION</h4>
                            <p class="mb-0"> Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                        </div>
                    </div>
                </div>
                <div class="about_pg1i row mt-5">
                    <div class="col-md-3 p-0">
                        <div class="about_pg1il">
                            <span class="bg_pink text-white rounded-circle text-center d-inline-block fs-1"><i class="fa fa-bar-chart"></i></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="about_pg1ir">
                            <h4>COMPANY PROGRESS</h4>
                            <p class="mb-0">Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about_pg2 mt-5">
            <div class="col-md-4">
                <div class="about_pg2i p-3">
                    <h5 class="mb-3">ABOUT ME</h5>
                    <div class="about_pg2i1 row">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Name:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Eget Nulla</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Age:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">30</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Location:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">New York / UK</h6>
                            </div>
                        </div>
                    </div>
                    <p class="font_14 col_light mt-3 mb-0">Lorem ipsum dolor sit amet elit elit elit elit, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about_pg2i p-3">
                    <h5 class="mb-3">EXHIBITIONS</h5>
                    <div class="about_pg2i1 row">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">London:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Feb 2nd to Mar 15th</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">France:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Mar 9th to Apr 19th</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Australia:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Nov 23rd to Dec 29th</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Germany:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Oct 22nd to Dec 1st</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about_pg2i1 row mt-3">
                        <div class="col-md-3 col-3">
                            <div class="about_pg2i1l">
                                <h6 class="font_14 mb-0">Newyork:</h6>
                            </div>
                        </div>
                        <div class="col-md-9 col-9">
                            <div class="about_pg2i1r">
                                <h6 class="font_14 mb-0 col_light">Vacation</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="about_pg2i p-3">
                    <h5 class="mb-3">GET IN TOUCH</h5>
                    <h6 class="font_14 mb-3 col_light"><i class="fa fa-map-marker text-white me-2"></i> 119, JimAvenue, Daltinore, UK</h6>
                    <h6 class="font_14 mb-3 col_light"><i class="fa fa-phone text-white me-2"></i> +123 123 456</h6>
                    <h6 class="font_14 mb-4"><i class="fa fa-envelope text-white me-2"></i> <a class="col_light" href="#">info@gmail.com</a></h6>
                    <h6 class="mb-3">FOLLOW US ON</h6>
                    <ul class="social-network social-circle mb-0">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_h" class="p_4 pt-0">
    <div class="container-xl">
        <div class="about_h1 row">
            <div class="col-md-6">
                <div class="about_h1l">
                    <div class="grid clearfix">
                        <figure class="effect-jazz mb-0">
                            <a href="#"><img src="img/29.jpg" class="w-100" alt="abc"></a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_h1r">
                    <h1>A LITTLE INTRO</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    <h1 class="mt-4">MY EXHIBITIONS</h1>
                    <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor quis nostrud exercitation ullamco</p>
                    <h1 class="mt-4">NEWSLETTER</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    <div class="input-group mt-4">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary bg_pink font_14 rounded-0" type="button">
                                SUBSCRIBE
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
