@model List<Art_shop.Models.Artist>

@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_LayoutPage_main.cshtml";
}
<br />
<br />
<br />
<br />
<section id="center" class="center_o bg_gray pt-2 pb-2">
    <div class="container-xl">
        <div class="row center_o1">
            <div class="col-md-5">
                <div class="center_o1l">
                    <h2 class="mb-0">Artists Detail</h2>
                </div>
            </div>
            <div class="col-md-7">
                <div class="center_o1r text-end">
                    <h6 class="mb-0"><a href="@Url.Action("Index", "Home")">Home</a> <span class="me-2 ms-2"><i class="fa fa-caret-right"></i></span>  Artists</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row port_1 text-center">
    <div class="col-md-12">
        <h1 class="font_60">Our Artists</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        <span class="icon_line col_pink"><i class="fa fa-square-o"></i></span>
    </div>
</div>


<div class="row">
    <section id="detail" class="p_4">
        <div class="container-xl">
            <div class="row detail_1">
                @foreach (var artist in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            @if (!string.IsNullOrEmpty(artist.ArtistImageTemp))
                            {
                                var imagePath = Server.MapPath("~/Images/" + artist.ArtistImageTemp);
                                var imageBytes = System.IO.File.ReadAllBytes(imagePath);
                                var base64String = Convert.ToBase64String(imageBytes);

                                <img src="data:image/jpeg;base64,@base64String" class="card-img-top" alt="Artist Image" style=" height: 200px;">
                            }

                            <div class="card-body text-dark">
                                <!-- Add text-dark class for dark text color -->
                                <h5 class="card-title">@artist.ArtistName</h5>
                                <p class="card-text text-dark"><strong>Web:</strong> @artist.Website</p>
                                <p class="card-text text-dark"><strong>Country:</strong> @artist.Country</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

<div class="row detail_4 mt-4">
    <h4 class="mb-0">RELATED PRODUCTS</h4>
</div>
<div class="row product_2">
    <!-- Your related product cards here -->
</div>
